---
import Layout from "../layouts/Layout.astro";
import { GetSheetNameByID } from "./api/vercelkv";
import { getColumnsBySheetId } from "./api/smartsheet/getColumnsBySheetId";
import { supabase } from "../db/supabase";
import type { Tables } from "../db/types";
const url = new URL(Astro.request.url);
const webhook = url.searchParams.get("webhook");
const sourceId = url.searchParams.get("source");
const sourceName = await GetSheetNameByID(sourceId!);
const destId = url.searchParams.get("dest");
const destName = await GetSheetNameByID(destId!);
const sourceCols = await getColumnsBySheetId(sourceId!);
const destCols = await getColumnsBySheetId(destId!);
type Col = {
  id: string;
  title: string;
};

const sourceFields: Col[] = JSON.parse(sourceCols!);
const destFields: Col[] = JSON.parse(destCols!);

console.log(sourceCols);
console.log(sourceFields.length);

// get list of columns by webhook
const { data, error: groupError } = await supabase
  .from("ss_column_mappings")
  .select()
  .eq("webhook_id", webhook!);

if (!data) {
  console.error("No data returned");
}

if (groupError) {
  console.log("error " + groupError.message);
}
// const columns = data?.map(async (d) => {
//   console.log(d.source_column_id);
//   await supabase.from("ss_columns").select;
// });

type colMapping = {
  colId: number;
  destId: string;
  destName: string;
  sourceId: string;
  sourceName: string;
};
const columns = data?.map((d) => {
  console.log(d.source_column_id);
  return {
    colId: d.id,
    destId: d.deskt_column_id,
    destName: "destname",
    sourceId: d.source_column_id,
    sourceName: "sourcename",
  };
});

console.log("😂 length is " + columns!.length);

console.log("😂 " + JSON.stringify(data));
---

<audio id="clickSound" src="confetti.mp3" preload="auto"></audio>
<!-- <html data-theme="dark"> --><!-- Content you want to center -->
<Layout title="Map Columns">
  <div class="">
    <!-- htmx demo -->
    <div id="replaceMe">
      <td colspan="3">
        <button
          class="btn"
          hx-get="api/htmx/htmxaddrow"
          hx-target="#swapme"
          hx-swap="afterend"
        >
          Load More Agents... <img class="htmx-indicator" src="/img/bars.svg" />
        </button>
      </td>
    </div>
    <!-- end htmx demo -->
    <div class="">
      <h1>Map Source Sheet {sourceName} to Destination Sheet {destName}</h1>
    </div>

    <div class="hidden">
      <input name="webhook" value={webhook} />
    </div>
    <div class="card bg-primary text-primary-content">
      <div class="card-body">
        <div class="join">
          <form>
            <select
              name="sourceColumn"
              class="select select-bordered join-item"
            >
              <option disabled selected>Source Column</option>
              {
                sourceFields.map((data) => (
                  <option id={data.id} value={data.id}>
                    {data.title}
                  </option>
                ))
              }
            </select>

            <select name="destColumn" class="select select-bordered join-item">
              <option disabled selected>Destination Column</option>
              {
                destFields.map((data) => (
                  <option id={data.id} value={data.id}>
                    {data.title}
                  </option>
                ))
              }
            </select>
            <!-- <div class="indicator"> -->
            <!-- <span class="indicator-item badge badge-secondary">new</span>  -->
            <button
              class="btn join-item"
              hx-post="api/htmx/htmxaddrow"
              hx-target="#swapme"
              hx-swap="afterend">Map Column</button
            >
          </form>
          <div class="divider lg:divider-horizontal"></div>
          <!-- </div> -->
          <button
            class="btn btn-info"
            id="confetti"
            name="webhook"
            value={webhook}
            hx-swap="outerHTML"
            hx-post="/api/htmxactivatewebhook">Activate</button
          >
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="table delete-row-example">
      <thead>
        <tr>
          <th>Source</th>
          <th>Destination</th>
          <th></th>
        </tr>
      </thead>
      <tbody
        hx-confirm="Are you sure?"
        hx-target="closest tr"
        hx-swap="outerHTML swap:1s"
      >
        {
          // #REF: htmx delete element
          columns?.map((col) => {
            return (
              <tr>
                <td>{col.sourceId}</td>
                <td>{col.destId}</td>
                <td>
                  <button
                    name="deleteColMapping"
                    value={col.colId}
                    class="btn btn-warning"
                    hx-delete="/api/htmxdeletecolumn"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            );
          })
        }
        <tr id="swapme">
          <td>Angie MacDowell</td>
          <td>angie@macdowell.org</td>
          <td>
            <button
              name="abc"
              value="abc"
              class="btn btn-danger"
              hx-delete="/api/htmxdeletecolumn"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>

<style>
  tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>

<script
  src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.0/dist/confetti.browser.min.js"
></script>

<script>
  window.onload = async () => {
    const buttons = document.querySelectorAll("#confetti");
    buttons.forEach((button) => {
      button.addEventListener("click", async () => {
        clickSound.play();

        var count = 200;
        var defaults = {
          origin: { y: 0.7 },
        };

        function fire(particleRatio, opts) {
          confetti({
            ...defaults,
            ...opts,
            particleCount: Math.floor(count * particleRatio),
          });
        }

        fire(0.25, {
          spread: 26,
          startVelocity: 55,
        });
        fire(0.2, {
          spread: 60,
        });
        fire(0.35, {
          spread: 100,
          decay: 0.91,
          scalar: 0.8,
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 25,
          decay: 0.92,
          scalar: 1.2,
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 45,
        });
      });
    });

    // console.log("window loaded");
    // const url = "/api/smartsheet/getfavsmartsheets";
    // const response = await fetch(url, {
    //   method: "GET",
    //   headers: { "Content-Type": "application/json" },
    // });
    // const result = await response.json();
    // console.log(result.data);
    // // add elements
    // const sourceElement = document.getElementById("sourceSelect");
    // const destElement = document.getElementById("destSelect");
    // type OptionInfo = {
    //   id: string;
    //   name: string;
    // };
    // const optionInfos: OptionInfo[] = result.data;
    // optionInfos.forEach((optionInfo) => {
    //   const optionElement = document.createElement("option");
    //   optionElement.value = optionInfo.id; // Set the value attribute
    //   optionElement.text = optionInfo.name; // Set the text content
    //   const optionElement2 = document.createElement("option");
    //   optionElement2.value = optionInfo.id; // Set the value attribute
    //   optionElement2.text = optionInfo.name; // Set the text content
    //   // Append the option to the <select> element
    //   destElement!.appendChild(optionElement);
    //   sourceElement!.appendChild(optionElement2);
    //   console.log("create options");
    // });
  };
</script>
